@media (min-width: 570px) {
  body .section-main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10%;
  }
  body .section-main .section-info {
    width: 45%;
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
  }
  body .section-main .section-info h2 {
    font-size: 60px;
    font-weight: 700;
  }
  body .section-main .section-info p {
    margin-top: 30px;
    text-align: start;
  }
  body .section-main .section-info button {
    border: 1px solid black;
    width: 150px;
    padding: 12px;
    margin-top: 30px;
  }
  body .section-main .section-info .section-info-img {
    margin-top: 40px;
  }
  body .section-main .section-info .section-info-img img {
    width: 30%;
    height: 18px;
  }
  body .section-main .section-img {
    display: none;
  }
  body .section-main .section-img2 {
    background-image: url(./intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png);
    width: 45%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}