@media (min-width: 562px) {
  body {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
  }
  body .button-header-open {
    display: none;
  }
  body header nav div {
    display: flex;
    align-items: center;
  }
  body header nav .main-menu-desktop {
    display: flex;
    gap: 20px;
  }
  body header nav .main-menu-desktop ul {
    display: flex;
    flex-direction: row;
    transition: height 0.3s;
    color: hsl(0deg, 0%, 41%);
    list-style: none;
  }
  body header nav .main-menu-desktop ul .main-item {
    --clip:0;
    overflow: hidden;
    margin: 8px 0 8px 0;
  }
  body header nav .main-menu-desktop ul .main-item a {
    text-decoration: none;
    color: hsl(0deg, 0%, 41%);
  }
  body header nav .main-menu-desktop ul .main-item a .ul-arrow-up {
    background-image: url(./intro-section-with-dropdown-navigation-main/images/icon-arrow-up.svg);
    width: 10px;
    display: inline-block;
    height: 6px;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  body header nav .main-menu-desktop ul .main-item a .ul-arrow-down {
    background-image: url(./intro-section-with-dropdown-navigation-main/images/icon-arrow-down.svg);
    width: 10px;
    display: inline-block;
    height: 6px;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two-height {
    flex-direction: column;
    display: flex;
    position: absolute;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two-height li {
    margin: 8px 0px 8px 12px;
    font-size: 14px;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two-height li img {
    margin-right: 10px;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two {
    height: 0;
    transition: height 0.3s;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two li {
    margin: 8px 0px 8px 12px;
    font-size: 14px;
  }
  body header nav .main-menu-desktop ul .main-item .main-ul-two li img {
    margin-right: 10px;
  }
  body header nav .buttons-desktop {
    display: flex;
    flex-direction: row;
  }
  body header nav .buttons-desktop .button-login {
    width: 100px;
    border: none;
    background-color: white;
    color: hsl(0deg, 0%, 41%);
    padding: 10px;
    margin: 8px 0 8px 0;
    cursor: pointer;
  }
  body header nav .buttons-desktop .button-register {
    width: 100px;
    border: 1px solid hsl(0deg, 0%, 8%);
    background-color: white;
    color: hsl(0deg, 0%, 41%);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }
  body header nav .buttons-desktop .button-login:hover {
    color: hsl(0deg, 0%, 8%);
  }
  body header nav .buttons-desktop .button-register:hover {
    color: hsl(0deg, 0%, 8%);
  }
  body .section-main {
    flex-direction: row;
    padding: 80px;
    gap: 80px;
  }
  body .section-main .section-img {
    display: none;
  }
  body .section-main .section-info {
    width: 50%;
    align-items: flex-start;
  }
  body .section-main .section-info h2 {
    font-size: 60px;
    font-weight: bolder;
  }
  body .section-main .section-info p {
    width: 60%;
    text-align: start;
  }
  body .section-main .section-info button {
    width: 150px;
    padding: 20px;
    margin: 20px 0 40px 0;
  }
  body .section-main .section-info .section-info-img {
    gap: 20px;
  }
  body .section-main .section-info .section-info-img img {
    min-width: 25%;
    max-width: 35%;
    height: 22px;
  }
  body .section-main .section-img-desktop {
    background-image: url(./intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png);
    width: 50%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}